.country{
    margin: 20px;
    background-color: rgb(250, 245, 240);
    border: 2px solid #faf4f4;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 10px;
}
.country img{
    width: 150px;
}